.project-notify-object {

  &-content {
    max-width: 3rem;
    padding: 0 .16rem;

    &-checkbox {
      margin: .08rem 0;
      display: inline-block;
    }
  }

  &-select {
    width: 100%;

    &-render {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .c7n-pro-select {
      border: none;
    }
  }
}
