<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.notify.infra.mapper.WebhookRecordMapper">

    <select id="fulltextSearch" resultType="io.choerodon.notify.api.dto.WebhookRecordVO">
        SELECT
        nss.`NAME`,
        nwr.SEND_TIME,
        nwr.SEND_SETTING_CODE,
        nwr.`STATUS`,
        nwr.WEBHOOK_PATH,
        nw.TYPE
        FROM notify_webhook_record nwr
        JOIN notify_send_setting nss
        ON nss.`CODE`=nwr.SEND_SETTING_CODE
        JOIN notify_webhook nw
        ON nwr.WEBHOOK_ID =nw.ID
        where
        AND nwr.SOURCE_ID=#{sourceId}
        AND nwr.SOURCE_LEVEL
        <if test="status != null">
            AND nwr.STATUS=#{status}
        </if>
        <if test="sendSettingCode != null">
            AND nwr.SEND_SETTING_CODE=#{sendSettingCode}
        </if>
        <if test="webhookType != null">
            AND nw.TYPE=#{webhookType}
        </if>
    </select>
</mapper>