<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.notify.infra.mapper.WebhookRecordMapper">
    <resultMap type="io.choerodon.notify.api.dto.WebhookRecordVO" id="WebhookRecordVOResultMap">
        <id column="recordId" property="recordId"/>
        <result column="content" property="content"/>
        <result column="status" property="status"/>
        <result column="send_time" property="sendTime"/>
        <result column="end_time" property="endTime"/>
        <result column="failed_reason" property="failedReason"/>
        <result column="source_id" property="sourceId"/>
        <result column="source_level" property="sourceLevel"/>
        <result column="webhook_path" property="webhookPath"/>
        <result column="webhook_id" property="webhookId"/>
        <result column="name" property="name"/>
        <association property="webhookRecordDetailVO" javaType="io.choerodon.notify.api.vo.WebhookRecordDetailVO">
            <id column="id" property="deatilId"/>
            <result column="webhook_recordId" property="webhookRecordId"/>
            <result column="request_headers" property="requestHeaders"/>
            <result column="request_body" property="requestBody"/>
            <result column="response_headers" property="responseHeaders"/>
            <result column="response_body" property="responseBody"/>
        </association>
    </resultMap>

    <resultMap type="io.choerodon.notify.infra.dto.WebhookRecordDTO" id="WebhookRecordDTOResultMap">
        <id column="id" property="id"/>
        <result column="send_time" property="sendTime"/>
        <result column="send_setting_code" property="sendSettingCode"/>
        <result column="status" property="status"/>
        <result column="webhook_path" property="webhookPath"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="end_time" property="endTime"/>

    </resultMap>

    <select id="fulltextSearchPage" resultMap="WebhookRecordDTOResultMap">
        SELECT
        nwr.ID as id,
        nss.`NAME`,
        nwr.SEND_TIME,
        nwr.SEND_SETTING_CODE,
        nwr.`STATUS`,
        nwr.WEBHOOK_PATH,
        nw.TYPE,
        nwr.END_TIME
        FROM notify_webhook_record nwr
        JOIN notify_send_setting nss
        ON nss.`CODE`=nwr.SEND_SETTING_CODE
        JOIN notify_webhook nw
        ON nwr.WEBHOOK_ID =nw.ID
        where
        nwr.SOURCE_ID=#{sourceId}
        <if test="webhookId !=null">
            AND nwr.WEBHOOK_ID=#{webhookId}
        </if>
        <if test="status != null">
            AND nwr.STATUS=#{status}
        </if>
        <if test="sendSettingName != null and sendSettingName!=''">
            AND nss.`NAME` LIKE concat(concat('%', #{sendSettingName}), '%')
        </if>
        <if test="webhookType != null">
            AND nw.TYPE=#{webhookType}
        </if>
    </select>

    <!--<select id="fulltextSearch" resultType="io.choerodon.notify.infra.dto.WebhookRecordDTO">-->
    <!--SELECT-->
    <!--nss.`NAME`,-->
    <!--nwr.SEND_TIME,-->
    <!--nwr.SEND_SETTING_CODE,-->
    <!--nwr.`STATUS`,-->
    <!--nwr.WEBHOOK_PATH,-->
    <!--nw.TYPE-->
    <!--FROM notify_webhook_record nwr-->
    <!--JOIN notify_send_setting nss-->
    <!--ON nss.`CODE`=nwr.SEND_SETTING_CODE-->
    <!--JOIN notify_webhook nw-->
    <!--ON nwr.WEBHOOK_ID =nw.ID-->
    <!--where-->
    <!--nwr.SOURCE_ID=#{sourceId}-->
    <!--AND nwr.webhookId=#{webhookId}-->
    <!--<if test="status != null">-->
    <!--AND nwr.STATUS=#{status}-->
    <!--</if>-->
    <!--<if test="sendSettingCode != null">-->
    <!--AND nwr.SEND_SETTING_CODE=#{sendSettingCode}-->
    <!--</if>-->
    <!--<if test="webhookType != null">-->
    <!--AND nw.TYPE=#{webhookType}-->
    <!--</if>-->
    <!--</select>-->

    <select id="queryRecordDetailById" resultMap="WebhookRecordVOResultMap">
        SELECT
          nwr.ID AS recordId,
          nss.`NAME`,
          nwr.SEND_TIME,
          nwr.END_TIME,
          nw.WEBHOOK_PATH,
          nwrd.REQUEST_HEADERS,
          nwrd.REQUEST_BODY,
          nwrd.RESPONSE_HEADERS,
          nwrd.RESPONSE_BODY
        FROM
          notify_webhook_record nwr
        JOIN
           notify_webhook nw
        ON
           nwr.WEBHOOK_ID=nw.ID
        JOIN
           notify_send_setting nss
        ON
           nwr.SEND_SETTING_CODE =nss.`CODE`
        JOIN
           notify_webhook_record_detail nwrd
        ON
           nwrd.WEBHOOK_RECORD_ID=nwr.ID
        WHERE
           nwr.ID=#{id}
    </select>
</mapper>